img{
    width:150px;
    height: 150px;
}
header{
    background-color: lightblue;
    padding: 20px;
}
footer{
    background-color: lightgray;
    padding: 10px;
}
#about{
    background-color: lightcoral;
    padding: 20px;
}
#contact{
    background-color: lightgreen;
    padding: 20px;
}
form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
}

.form-group textarea {
    height: 120px;
    resize: vertical;
}

.contact button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#skills{
    background-color: orchid;
    padding: 20px;
}
main section{
    display: flex;
    flex-direction: column;
    width:33%;
    flex-wrap: wrap;
    border-radius: 5px;
}
main{
    display: flex;
    flex-direction: row;
}

@media(max-width: 480px){
    main{
        flex-direction: column;
    }
    main section{
        width: 50%;
    }
}